###################################
###1.描述性统计
###################################
###数据集描述与属性说明###：
##数据说明：本数据是一份汽车贷款违约数据,因变量为是否违约(bad_ind)
##[T]因变量,[N]数值变量,[C]分类变量,[S]序数变量,[D]时间
##application_id	申请者ID
##account_number	帐户号
##[T]bad_ind	是否违约
##[D]vehicle_year	汽车购买时间
##[C]vehicle_make	汽车制造商
##[C]bankruptcy_ind	曾经破产标识
##[N]tot_derog	五年内信用不良事件数量(比如手机欠费消号)
##[N]tot_tr	全部帐户数量
##[N]age_oldest_tr	最久账号存续时间(月)
##[N]tot_open_tr	在使用帐户数量
##[N]tot_rev_tr	在使用可循环贷款帐户数量(比如信用卡)
##[N]tot_rev_debt	在使用可循环贷款帐户余额(比如信用卡欠款)
##[N]tot_rev_line	可循环贷款帐户限额(信用卡授权额度)
##[N]rev_util	可循环贷款帐户使用比例(余额/限额)
##[N]fico_score	FICO打分
##[N]purch_price	汽车购买金额(元)
##[N]msrp	建议售价
##[N]down_pyt	分期付款的首次交款
##[N]loan_term	贷款期限(月)
##[N]loan_amt	贷款金额
##[N]ltv	贷款金额/建议售价*100
##[N]tot_income	月均收入(元)
##[N]veh_mileage	行使历程(Mile)
##[C]used_ind	是否使用
##[N]weight	样本权重

#################################################################

In [1]:
accepts=read.csv("data/accepts.csv",fileEncoding="GBK")

In [2]:
##查看数据整体情况，进行数据预处理
sapply(accepts,class)#查看数据类型
summary(accepts)

application_id account_number        bad_ind   vehicle_year   vehicle_make
     "integer"      "integer"      "integer"      "integer"       "factor"
bankruptcy_ind      tot_derog         tot_tr  age_oldest_tr    tot_open_tr
      "factor"      "integer"      "integer"      "integer"      "integer"
    tot_rev_tr   tot_rev_debt   tot_rev_line       rev_util     fico_score
     "integer"      "integer"      "integer"      "integer"      "integer"
   purch_price           msrp       down_pyt      loan_term       loan_amt
     "numeric"      "numeric"      "numeric"      "integer"      "numeric"
           ltv     tot_income    veh_mileage       used_ind
     "integer"      "numeric"      "integer"      "integer"

 application_id     account_number        bad_ind        vehicle_year
 Min.   :    4065   Min.   :   11613   Min.   :0.0000   Min.   :   0
 1st Qu.: 2513980   1st Qu.: 2567174   1st Qu.:0.0000   1st Qu.:1997
 Median : 5110443   Median : 4988152   Median :0.0000   Median :1999
 Mean   : 5039359   Mean   : 5021740   Mean   :0.2048   Mean   :1902
 3rd Qu.: 7526973   3rd Qu.: 7556672   3rd Qu.:0.0000   3rd Qu.:2000
 Max.   :10000115   Max.   :10010219   Max.   :1.0000   Max.   :9999
                                                        NA's   :1
    vehicle_make  bankruptcy_ind   tot_derog         tot_tr
 FORD     :1112    : 217         Min.   : 0.00   Min.   : 0.00
 CHEVY    : 654   N:5180         1st Qu.: 0.00   1st Qu.: 9.00
 DODGE    : 533   Y: 448         Median : 0.00   Median :16.00
 TOYOTA   : 417                  Mean   : 1.91   Mean   :17.08
          : 299                  3rd Qu.: 2.00   3rd Qu.:24.00
 CHEVROLET: 265                  Max.   :32.00   Max.   :77.00
 (Other)  :2565                  NA's   :213     NA's   :213
 age_oldest_tr    tot_open_tr      tot_rev_tr      tot_rev_debt
 Min.   :  1.0   Min.   : 0.00   Min.   : 0.000   Min.   :    0
 1st Qu.: 78.0   1st Qu.: 3.00   1st Qu.: 1.000   1st Qu.:  791
 Median :137.0   Median : 5.00   Median : 3.000   Median : 3009
 Mean   :154.3   Mean   : 5.72   Mean   : 3.093   Mean   : 6219
 3rd Qu.:205.0   3rd Qu.: 7.00   3rd Qu.: 4.000   3rd Qu.: 8462
 Max.   :588.0   Max.   :26.00   Max.   :24.000   Max.   :96260
 NA's   :216     NA's   :1419    NA's   :638      NA's   :478
  tot_rev_line       rev_util         fico_score     purch_price
 Min.   :     0   Min.   :   0.00   Min.   :443.0   Min.   :     0
 1st Qu.:  3236   1st Qu.:   5.00   1st Qu.:653.0   1st Qu.: 12684
 Median : 10574   Median :  30.00   Median :693.0   Median : 18018
 Mean   : 18263   Mean   :  43.44   Mean   :693.5   Mean   : 19145
 3rd Qu.: 26196   3rd Qu.:  66.00   3rd Qu.:735.5   3rd Qu.: 24500
 Max.   :205395   Max.   :2500.00   Max.   :848.0   Max.   :111554
 NA's   :478                        NA's   :314
      msrp           down_pyt       loan_term         loan_amt
 Min.   :     0   Min.   :    0   Min.   : 12.00   Min.   :  2133
 1st Qu.: 12050   1st Qu.:    0   1st Qu.: 51.00   1st Qu.: 11023
 Median : 17475   Median :  500   Median : 60.00   Median : 16200
 Mean   : 18643   Mean   : 1325   Mean   : 56.81   Mean   : 17660
 3rd Qu.: 23751   3rd Qu.: 1750   3rd Qu.: 60.00   3rd Qu.: 22800
 Max.   :222415   Max.   :35000   Max.   :660.00   Max.   :111554
 NA's   :1
      ltv           tot_income       veh_mileage        used_ind
 Min.   :  0.00   Min.   :      0   Min.   :     0   Min.   :0.0000
 1st Qu.: 90.00   1st Qu.:   2218   1st Qu.:     1   1st Qu.:0.0000
 Median :100.00   Median :   3400   Median :  8000   Median :1.0000
 Mean   : 98.79   Mean   :   6206   Mean   : 20168   Mean   :0.5648
 3rd Qu.:109.00   3rd Qu.:   5156   3rd Qu.: 34136   3rd Qu.:1.0000
 Max.   :176.00   Max.   :8147167   Max.   :999999   Max.   :1.0000
 NA's   :1        NA's   :5         NA's   :1

In [3]:
accepts$bad_ind=as.factor(accepts$bad_ind)
accepts$bankruptcy_ind=as.factor(accepts$bankruptcy_ind)
accepts$used_ind=as.factor(accepts$used_ind)
accepts<-accepts[,c(-1,-2)]
head(accepts)

  bad_ind vehicle_year vehicle_make bankruptcy_ind tot_derog tot_tr
1 1       1998         FORD         N              7          9
2 0       2000         DAEWOO       N              0         21
3 1       1998         PLYMOUTH     N              7         10
4 1       1997         FORD         N              3         10
5 0       2000         TOYOTA       N              0         10
6 0       2000         DODGE        Y              2         15
  age_oldest_tr tot_open_tr tot_rev_tr tot_rev_debt ⋯ fico_score purch_price
1  64            2           1           506        ⋯ 650        17200.00
2 240           11           7         34605        ⋯ 649        19588.54
3  60           NA          NA            NA        ⋯ 613        13595.00
4  35            5           4          4019        ⋯ 603        12999.00
5 104            2           0             0        ⋯ 764        26328.04
6 136            4           3          3651        ⋯ 680        26272.72
  msrp  down_pyt loan_term loan_amt ltv tot_income veh_mileage used_ind
1 17350    0.00  36        17200.00  99 6550.00    24000       1
2 19788  683.54  60        19588.54  99 4666.67       22       0
3 11450    0.00  60        10500.00  92 2000.00    19600       1
4 12100 3099.00  60        10800.00 118 1500.00    10000       1
5 22024    0.00  60        26328.04 122 4144.00       14       0
6 26375    0.00  36        26272.72 100 5400.00        1       0

In [4]:
#2 变量粗筛：祛除与被解释变量相关性不大的解释变量，降低后续工作量
library(party)
set.seed(42)
crf<-cforest(bad_ind~.,control = cforest_unbiased(mtry = 2, ntree = 20), data=accepts)
varimpt<-data.frame(varimp(crf))
head(varimpt)

Loading required package: grid
Loading required package: mvtnorm
Loading required package: modeltools
Loading required package: stats4
Loading required package: strucchange
Loading required package: zoo

Attaching package: ‘zoo’

The following objects are masked from ‘package:base’:

    as.Date, as.Date.numeric

Loading required package: sandwich

               varimp.crf.
vehicle_year   0.0010000000
vehicle_make   0.0013023256
bankruptcy_ind 0.0008372093
tot_derog      0.0046976744
tot_tr         0.0009534884
age_oldest_tr  0.0033720930

In [5]:
#得到的前5个重要变量为:fico_score、tot_derog、tot_rev_line、rev_util、age_oldest_tr
#################################################################
#3 数据清洗：实际上是和上一步同时进行的，此处只是列出需要处理的四类问题
##3.1 数据去重
accepts<-unique(accepts)

##3.2 错误值：如果发现问题，一般使用缺失值替代
###比如发现年龄为-2000，这有可能是输入错误，可以让负责数据的同时复查，也可以替换为缺失值

In [6]:
##3.3 缺失值：连续变量使用均值或中位数，分类变量使用众数或单独作为一类
#vmean<-mean(accepts$tot_derog,na.rm=TRUE)
#accepts$tot_derog_empflag<-is.na(accepts$tot_derog)
#accepts[is.na(accepts$tot_derog),]$tot_derog<-vmean
#或者简单粗暴的用多重插补的方法

In [7]:
library(mice)
bad_ind<-accepts[,c("bad_ind")]
x<-accepts[,c("fico_score","tot_derog","tot_rev_line","rev_util","age_oldest_tr")]
imp<-mice(x,met="cart",m=1)#该方法只对数值变量进行插补，分类变量的缺失值保留
x_imp<-complete(imp)
data<-cbind(bad_ind,x_imp)

head(data)

Loading required package: Rcpp
mice 2.25 2015-11-09

 iter imp variable
  1   1  fico_score  tot_derog  tot_rev_line  age_oldest_tr
  2   1  fico_score  tot_derog  tot_rev_line  age_oldest_tr
  3   1  fico_score  tot_derog  tot_rev_line  age_oldest_tr
  4   1  fico_score  tot_derog  tot_rev_line  age_oldest_tr
  5   1  fico_score  tot_derog  tot_rev_line  age_oldest_tr

  bad_ind fico_score tot_derog tot_rev_line rev_util age_oldest_tr
1 1       650        7           500        101       64
2 0       649        0         57241         60      240
3 1       613        7          1610          0       60
4 1       603        3          5946         68       35
5 0       764        0          1800          0      104
6 0       680        2          5747         64      136